#content{
    color: #797979;
    background: url(../1625661671_19-kartinkin-com-p-molitva-art-art-krasivo-19.jpg) center/cover no-repeat fixed;
    /*O atributo fixed serve para deixar a imagem fixa;
        O atributo center, deixa a imagem centralizada
        o center/cover deixa a imagem do tamanho da tela, para que não fique sobrando espaços vazios
        ou bugados.
        no-repeat seve para que a imagem não se repita para preencher a página, caso a imagem seja pequena.*/
        
}
#products{
    background:darkslategray;
}
#about{
    background:black;
    color: white;
}
div{
    background:darkred;
}
#cm{
    background-color: green;
    width:1cm;
    height:1cm;
}
#mm{
    background-color:blueviolet;
    width:1mm;
    height:1mm;
}
#px{
    background-color: black;
    width: 100px;
    height: 100px;
}
#in{
    background-color:pink;
    width:1in;
    height:1in;
}
#pt{
    background-color:rgb(255, 255, 0);
    width:100pt;
    height:100pt;
}
#pc{
    background-color:orange;
    width:1pc;
    height:1pc;
}

